<!DOCTYPE html>
<html>
  <head>
    <title>Claim Process</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <form action="/fetch-data" method="GET">
      <label for="memberId">Member ID:</label>
      <input type="text" id="memberId" name="memberId" required>
      <button type="submit">Fetch Data</button>
    </form>
    <div id="result"></div>

  </body>
</html>
